@page
@using System.Security.Claims
@using PetAdopt.Models;

@model PetAdopt.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Post.ImageFile))
            {
                <img src="@Model.Post.ImageFile" alt="Imaginea postului" style="max-width: 100%;" />
            }
            else
            {
                <p>Nu există imagine asociată acestui post.</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Type)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Animal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Animal.animal_name)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Animal.animal_age)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && Model.Post != null && Model.Post.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Post?.id">Edit</a> 
        <p>|</p>
        <a asp-page="./Index">Back to List</a>
    }

    @if (!Model.Post.IsAdopted)
    {
        <div>
            <form method="get" asp-page="./Adopt" asp-route-id="@Model.Post.id">
                <button type="submit">Adopt</button>
            </form>
        </div>
    }
</div>
