@page
@using System.Security.Claims
@using PetAdopt.Models

@model PetAdopt.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>

    <div class="row">
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.Post.ImageFile))
            {
                <img src="@Model.Post.ImageFile" alt="Imaginea postului" class="img-fluid" />
            }
            else
            {
                <p>Nu există imagine asociată acestui post.</p>
            }
        </div>
        <div class="col-md-6">
            <h4>Post</h4>
            <hr />
            <div>
                <strong>Titlu:</strong>
                <p>@Html.DisplayFor(model => model.Post.title)</p>

                <strong>Descriere:</strong>
                <p>@Html.DisplayFor(model => model.Post.description)</p>

                <strong>Tip:</strong>
                <p>@Html.DisplayFor(model => model.Post.Type)</p>

                <strong>Locație:</strong>
                <p>@Html.DisplayFor(model => model.Post.Location)</p>

                <strong>Animal:</strong>
                <p>@Html.DisplayFor(model => model.Post.Animal.animal_name)</p>

                <strong>Vârstă animal:</strong>
                <p>@Html.DisplayFor(model => model.Post.Animal.animal_age)</p>
            </div>
            <div class="mt-4">
                @if (User.Identity.IsAuthenticated && Model.Post != null && Model.Post.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <a asp-page="./Edit" asp-route-id="@Model.Post?.id" class="btn btn-primary">Edit</a>
                    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                } 
                else
                {
                    @if (!Model.Post.IsAdopted && Model.Post.Type == PostType.donation)
                    {
                        <div>
                            <form method="get" asp-page="./Adopt" asp-route-id="@Model.Post.id">
                                <button type="submit" class="btn btn-success">Adopt</button>
                            </form>
                        </div>
                    }
                    @if (Model.Post.Type == PostType.lost || Model.Post.Type == PostType.found)
                    {
                        <h3 class="mt-4">Lăsați un mesaj proprietarului anunțului</h3>
                        <form method="post" asp-page-handler="SendMessage" asp-route-postId="@Model.Post.id">
                            <div class="form-group">
                                <textarea rows="4" cols="50" name="messageContent" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Trimiteți mesajul</button>
                        </form>
                    }
                }

               
            </div>
        </div>
    </div>
</div>
