@page
@model PetAdopt.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Animal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
