@page
@using System.Security.Claims
@using PetAdopt.Models


@model PetAdopt.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>


<form method="get">

    <label for="searchTerm">Search by Title:</label>
    <input type="text" id="searchTerm" name="searchString" value="" placeholder="Enter first 3 letters..." />
    <br />
    <label for="animalSpeacies">Select Animal Species:</label>
    <select asp-for="SelectedSpecies" asp-items="Model.SpeciesOptions">
        <option value="">Dog/Cat</option>
    </select>
    <label for="animalBreed">Select Animal Breed:</label>
    <select asp-for="SelectedBreed" asp-items="Model.BreedOptions">
        <option value="">All Breeds</option>
    </select>

    <label for="location">Select Location:</label>
    <select asp-for="SelectedLocation" asp-items="Model.LocationOptions">
        <option value="">All Locations</option>
    </select>

    <label for="type">Select Type:</label>
    <select asp-for="SelectedType" asp-items="Model.TypeOptions">
        <option value="">All Types</option>
    </select>

    <input type="submit" value="Filter">
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Animal.animal_breed)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody id="searchResults">
        @foreach (var item in Model.Post)
        {
            <tr>
                <td>
                    <img src="@item.ImageFile" alt="Post Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.animal_breed)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.id"> Details </a>
                    @if (User.Identity.IsAuthenticated && item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> 
                        <p>|</p>
                        <a asp-page = "./Delete" asp-route-id = "@item.id" > Delete </a>
                    } 
                    else
                    { 
                        @if (item.Type == PostType.donation)
                        {
                            <form asp-page="./Adopt" asp-route-id="@item.id" method="post">
                                <input type="hidden" name="id" value="@item.id" />
                                <button type="submit">Adopt</button>
                            </form>
                        }
                    }

                </td>

            </tr>
        }
    </tbody>
</table>



