@page
@using System.Security.Claims
@using PetAdopt.Models
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService

@model PetAdopt.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="d-inline">Anunturi</h4>
    <a asp-page="Create" class="btn btn-outline-success">Adauga anunt nou</a>
</div>

<form method="get" class="mb-4">
    <div class="row">
        <div class="form-group col">
            <label for="animalSpeacies" class="mr-2">Specie:</label>
            <select asp-for="SelectedSpecies" asp-items="Model.SpeciesOptions" class="form-control">
                <option value="">Dog/Cat</option>
            </select>
        </div>

        <div class="form-group col">
            <label for="animalBreed" class="mr-2">Rasa:</label>
            <select asp-for="SelectedBreed" asp-items="Model.BreedOptions" class="form-control">
                <option value="">All Breeds</option>
            </select>
        </div>

        <div class="form-group col">
            <label for="location" class="mr-2">Locatie:</label>
            <select asp-for="SelectedLocation" asp-items="Model.LocationOptions" class="form-control">
                <option value="">All Locations</option>
            </select>
        </div>

        <div class="form-group col">
            <label for="type" class="mr-2">Tipul postarii:</label>
            <select asp-for="SelectedType" asp-items="Model.TypeOptions" class="form-control">
                <option value="">All Types</option>
            </select>
        </div>

        <div class="form-group col-auto align-self-end">
            <button type="submit" class="btn btn-primary">Filtrează</button>
        </div>
    </div>
</form>



<div class="table-responsive">

    <table class="table table-hover table-sm">
    <thead>
        <tr class="table-active table-light" style="border-top-left-radius:10px">
            <th>Imagine</th>
            <th>Titlu</th>
            <th>Descriere</th>
            <th>Tip</th>
            <th>Animal</th>
            <th>Locatie</th>
            <th>Rasa</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="searchResults" class="table-group-divider">
        @foreach (var item in Model.Post)
        {
            <tr>
                <td>
                    <img src="@item.ImageFile" alt="Post Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.title)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Animal.animal_name)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.Animal.animal_breed)</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.id" class="btn btn-info btn-sm mb-2">Detalii</a>
                    @if (User.Identity.IsAuthenticated && item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.id" class="btn btn-warning btn-sm mb-2">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm"> Sterge</a>
                    }
                    else if (User.Identity.IsAuthenticated && item.Type == PostType.donation)
                    {
                        <form asp-page="./Adopt" asp-route-id="@item.id" method="post">
                            <input type="hidden" name="id" value="@item.id" />
                            <button type="submit" class="btn btn-success btn-sm">Adopta</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</div>



